{% extends "base.html" %}

{% load static %}

{% block title %} mon profil {%endblock%}

{% block rel %}{% static 'geinfo/css/profil.css' %}{% endblock rel %}

{% block nav %}
    <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">Groupe <i class="bi bi-people"></i></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'profil' %}">Mon profil</a>
    </li>

    <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'etudiants' %}">Message<i class="bi bi-envelope"></i> </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">Rechercher<i class="bi bi-search"></i></a>
    </li>
    {% endblock nav  %}

        {% block btn %}
            {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %} {# C'est essentiel pour la sécurité ! #}
                        <button type="submit" class="btn btn-danger">Déconnexion</button>
                    </form>
                    {% else %}
                        <a href="{% url 'login' %}">Connexion</a>
                    {% endif %}
        {% endblock btn  %}

                </div>




{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Mon Espace</h2>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-primary text-white py-3">
                    <h4 class="mb-0">Mes informations</h4>
                </div>
                <div class="card-body text-center">
                    {% if user.profil %}
                        <img src="{% static 'geinfo/img/profils/' %}{{ user.profil }}" alt="Photo de profil" class="rounded-circle mb-10" width="150" height="150" style="object-fit: cover;">

                    {% else %}
                        <i class="fas fa-user-circle fa-5x text-secondary mb-3"></i>
                        <p class="text-muted">Aucune photo de profil définie.</p>
                    {% endif %}

                    <h5 class="mb-2">{{ user.nom }} {{ user.prenom }}</h5>
                    <p class="text-muted mb-1">{{ user.matricule }}</p>
                    <p class="text-muted mb-3">{{ user.niveau }} - {{ user.filiere }}</p>
                    <p>{% if text1 %}
                                {{text1.tex1}}{% endif %}

                                {% if text2 %}
                                {{text2.tex2}}{% endif %}</p>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Année d'inscription</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.annee }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Dernière connexion</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {% if user.last_login %}
                                {{ user.last_login|date:"d M Y H:i:s" }}
                            {% else %}
                                Jamais
                            {% endif %}
                        </div>
                    </div>

                    <h5 class="mt-3">Actions</h5>
                    <div class="d-flex justify-content-end mt-3">
                       <button type="button" class="btn btn-sm btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modifierMdp">Modifier le mot de passe</button>
                        <button type="button" class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#modifierInfos">Modifier la photo de profil</button>
                    </div>
                </div>
            </div>
        </div>

             <div class="row">
                 <div class="col-md-6 card shadow-sm mb-4">
            <div class="card-header bg-info text-white py-3">
                <h4 class="mb-0">Mes groupes</h4>
            </div>
            <div class="row">
                {% if user.groups.all %}
                        <ul class="list-group list-group-flush">
                            {% for group in user.groups.all %}
                                <li class="list-group-item"><img src="{{ group.profile_image.url }}" alt="Groupe" class="profile-img">{{ group.name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-muted">Vous n'appartenez à aucun groupe pour le moment.</p>
                    {% endif %}
                <div class="d-flex justify-content-end mt-3">
                    <a class="btn btn-primary me-2">Voir tous les groupes</a> <a class="btn btn-success">Creer mon groupe</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 card shadow-sm mb-4">
            <div class="conversation-header card-header bg-warning text-black py-3">
                <h4>Conversations récentes</h4>
            </div>
            <div class="row">
               {% if last_5_contacts %}
                    <ul>
                        {% for contact_etudiant in last_5_contacts %}
                            <li>
                                {# Supposons que vous ayez une URL pour le profil d'un étudiant avec son username ou son ID #}
                                {# Si vous avez une URL pour le profil d'un autre étudiant, remplacez 'profil_etudiant' et l'argument #}

                                {{ contact_etudiant.nom }} <a href="{% url 'chat_view' contact_etudiant.id %}" class="btn btn-primary btn-sm">Discuter</a>
                            </li>
                        {% endfor %}
                    </ul>
             {% else %}
                <p>Aucune conversation récente.</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>



            </div>
        </div>
    </div>
</div>


            {% comment "" %}Formulaire de modification{% endcomment %}
            <div class="modal fade" id="modifierInfos" tabindex="-1" aria-labelledby="modifierInfosLabels" aria-hidden="true">

                <div class="modal-dialog">

                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="modifInfosLabels">Changer la photo de profil</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" title="Fermer"></button>
                        </div>

                        <div class="modal-body">
                            <form  method="post" action="{% url 'changerphoto' %}" enctype="multipart/form-data">
                                 {% csrf_token %}

                                 <div class="mb-3">
                                     <label for="profiletof" class="form-label">Profil</label>
                                     <input type="file" class="form-control" name="photo" id="profiletof" accept="image/*">
                                     <small class="form-text text-muted">Formats acceptés : JPG, PNG.</small>

                                </div>

                                <button type="submit" class="btn btn-success">Modifier</button>
                                <a href="{% url 'profil' %}" class="btn btn-secondary mt-2">Annuler</a>

                            </form>
                        </div>

                    </div>
                </div>


            </div>

            {% comment %}Formulaire de modification du mot de passse{% endcomment %}
            <div class="modal fade" id="modifierMdp" tabindex="-1" aria-labelledby="modifierInfosLabels" aria-hidden="true">

                <div class="modal-dialog">

                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="modifPass">Changer le mot de passe</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" title="Fermer"></button>
                        </div>

                        <div class="modal-body">
                            <form  method="post" action="{% url 'changepassword' %}">
                                {% csrf_token %}

                                 <div class=" input-group mb-3">
                                    <input type="password" class="form-control bi bi-eye" id="password" placeholder="Entrez le mot de passe actuel"
                                    name="old_password" data-bs-toggle="password">
                                </div>

                                <div class=" input-group mb-3">
                                    <input type="password" class="form-control" id="mdp"
                                           name="new_password1" placeholder="Entrez le nouveau de passe" data-bs-toggle="password">
                                </div>

                                <div class=" input-group mb-3">
                                    <input type="password" class="form-control" id="cmdp" name="new_password2" placeholder="Confirmer le nouveau de passe" data-bs-toggle="password">
                                </div>


                                 

                                <button type="submit" class="btn btn-success" id="valid">Modifier</button>

                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>




{% endblock content %}
{% block script %} {% static 'geinfo/js/changePass.js' %} {% endblock script %}