body{
    background: url('../img/404.jpg');
    text-align: center;
    padding-top: 100px
}

.floatting{
    font-size: 100px;
    font-weight: bold;
    color: #dc3545;
    animation: float 3s ease-in-out infinite;
}
@keyframes float{
    0%{transform: translateY(0px);}
    50%{transform: translateY(-20px);}
    100%{transform: translateY(0px);}
}