{% load static %}
<div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="hero-content" data-aos="fade-up" data-aos-delay="200">
              <div class="company-badge mb-4">
                <i class="bi bi-gear-fill me-2"></i>
                Working for your success
              </div>

              <h1 class="mb-4">
               BIENVENUE Sur <br>
                La Plateforme<br>
                <span class="accent-text">GINFO</span>
              </h1>

              <p class="mb-4 mb-md-5">
                La plateforme d'echange enre nouveaux et anciens etudiants du departemntdu Genie Informaique de l'ENSET de Douala
              </p>

              <div class="hero-buttons">
                <a href="{% url 'connexion' %}" class="btn btn-primary me-0 me-sm-2 mx-1">Se connecter</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="hero-image" data-aos="zoom-out" data-aos-delay="300">
              <img src="{% static 'geinfo/img/img/illustration-1.webp' %}" alt="Hero Image" class="img-fluid">

              <div class="customers-badge">
                <div class="customer-avatars">
                  <img src="{% static 'geinfo/img/img/avatar-1.jpg' %}" alt="Customer 1" class="avatar">
                  <img src="{% static 'geinfo/img/img/avatar-2.jpg' %}" alt="Customer 2" class="avatar">
                  <img src="{% static 'geinfo/img/img/avatar-3.jpg' %}" alt="Customer 3" class="avatar">
                  <img src="{% static 'geinfo/img/img/avatar-4.jpg' %}" alt="Customer 4" class="avatar">
                  <img src="{% static 'geinfo/img/img/avatar-5.jpg' %}" alt="Customer 5" class="avatar">
                  <span class="avatar more">5+</span>
                </div>
                <p class="mb-0 mt-2">Echangez avec plus de 500 etudians </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row stats-row gy-4 mt-5" data-aos="fade-up" data-aos-delay="500">
          <div class="col-lg-3 col-md-6">
            <div class="stat-item">
              <div class="stat-icon">
                <i class="bi bi-people"></i>
              </div>
              <div class="stat-content">
                <h4>Echange en groupe</h4>
                <p class="mb-0">Possibilie de creer son forum</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="stat-item">
              <div class="stat-icon">
                <i class="bi bi-megaphone"></i>
              </div>
              <div class="stat-content">
                <h4>Nouveautes</h4>
                <p class="mb-0">Suivre l'actualie du departement</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="stat-item">
              <div class="stat-icon">
                <i class="bi bi-graph-up"></i>
              </div>
              <div class="stat-content">
                <h4>Suivie</h4>
                <p class="mb-0">Vous avez la possibilite d'etre suivi par les aines</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="stat-item">
              <div class="stat-icon">
                <i class="bi bi-envelope"></i>
              </div>
              <div class="stat-content">
                <h4>Messagerie privee</h4>
                <p class="mb-0">Echangez en privee avec un autre etudiant sur la plateforme</p>
              </div>
            </div>
          </div>
        </div>

      </div>
