<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion - GINFO admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">

        <header class="bg-primary text-white py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <h1>GINFO admin</h1>
                </div>
                <div class="col-md-3 text-right">
                    <a href="{% url 'register' %}" class="btn btn-success">Ajouter un etudiant</a>
                </div>
            </div>
        </div>
    </header>
  <div class="container mt-5">
    <h2>Liste des Etudiants</h2>
    {% if etudiants %}
      <ul class="list-group">
        {% for etudiant in etudiants %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
             {{ etudiant.matricule }} {{etudiant.nom}} {{etudiant.prenom}} {{etudiant.filiere}} {{etudiant.niveau}}
            <a href="#" class="btn btn-primary btn-sm">Modifier</a>
              <a href="{% url 'delete' etudiant.id %}" class="btn btn-danger btn-sm">Supprimer</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Aucun etudiant disponible.</p>
    {% endif %}
  </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </div>
</body>
</html>